* {
  box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

#wrapper{
  margin: 0;
  height: 0;
}

.index-header-bg{
  height: 100px;
}

 /**** Mobile Navigation Style ****/
.menu-btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 60px;
  transition-duration: 0.5s;
  overflow: hidden;
  margin: 15px;


  .icon{
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 30px;
    top: 30px;
    right: 0;
    background-color: #f9f9f9;

  }
}

.menu-btn .icon::before{
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #f9f9f9;
  content: "";
  top: -10px;
  left: 0;
}

.menu-btn .icon::after{
  top: 20px;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #f9f9f9;
  top: 10px;
  content: "";
  left: 0;
}

.menu-btn.open .icon{
  transition-duration: 0.5s;
  background: transparent;
}

.menu-btn.open .icon::before{
  transform: rotateZ(45deg) scaleX(1) translate(10px, 10px);
  top: -20px;
  background-color: #f9f9f9;
}

.menu-btn.open .icon::after{
  transform: rotateZ(-45deg) scaleX(1) translate(12px, -12px);
  background-color: #f9f9f9;
}

.links{
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  z-index: 99;
}

.links.nav-open{
  display: flex;
  height: 100vh;
  overflow-y: hidden;

}

.links li{
  margin: 1em 0;
}
.links a{
  color: #f9f9f9;
  font-size: 3em;
  text-transform: capitalize;
  text-decoration: none;
}


ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Hide the images by default */
.container{
  max-width: 990px;
  margin: 0 auto;
}
.mySlides{
  display: none;

}
.mySlides img{
  height: auto;
  margin: 0 auto;
}
img{
  width: 100%;
  height: auto;
}

.row{
  display: flex;
}

.row img{
  width: 100%;
}

img {
  vertical-align: middle;
}

/* Add a pointer when hovering over the thumbnail images */
.page-dots:hover {
  cursor: pointer;
}

/* Next & previous buttons */
.mobile-btn-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.2em 0;
}

.desktop-btn-nav{
  display: none;
  .prev{
    position: absolute;
    left: 0;
    bottom: 40%;
  }

  .next{
    position: absolute;
    right: 0;
    bottom: 40%;
  }
}

.prev,
.next {
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: #f9f9f941;
  border: none;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(119, 119, 119, 0.425);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #fff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgba(63, 63, 63, 0.726);
  color: white;
  max-height: 4em;

  #caption{
    margin: 5px 0;
    padding: .7em;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.skills{
  visibility: hidden;
}